/* style for the operation bar */
.operation_bar {
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
}

.inner {
	display: inline-block;
}

/* style for the buttons */
button {
    position: relative;
    line-height: 60px;
	width: 33.3%;
    font-weight: bold;
    background: grey;
	/* color: white; */
	color: black;
	font-family: Khula, sans-serif; 
	font-size: medium;
    border: 0;
}

button:hover {
    background: lightgrey;
}


.slider_style {
    position: relative;
    width: 100%;
    height: 5px;
    margin: 30px 0;
    background-color: #8a8a8a;
}




/* navigation heading style */
.navigation_headline {
    font-weight: 800;
    font-size: large;
    color: black; 
    font-family: Khula, sans-serif; 
    text-align: center;
    text-align: left;
    margin-left: 40px;
} 
